### U14. 합격여부 확인

In [8]:
kor, eng, math, sci = map(int, input().split())
mean = (kor + eng + math + sci) / 4
if kor < 0 or kor > 100 or eng < 0 or eng > 100 or math < 0 or math > 100 or sci < 0 or sci > 100 :
    print('잘못된 점수') 
elif mean >= 80 : 
    print("합격")
else : 
    print("불합격")

잘못된 점수

In [9]:
#scores = list(map(int,input('국영수과 점수 입력').split()))
scores = [kor, eng, math, sci]

if False not in [0<=s<=100 for s in scores]:  
    if sum(scores)/len(scores) >= 80:
        print('합격')
    else:
        print('불합격')

else:
    print('잘못된 점수')

잘못된 점수

In [10]:
[0<=s<=100 for s in scores]

[True, False, True, True]

In [11]:
all([0<=s<=100 for s in scores])

False

In [12]:
any([0<=s<=100 for s in scores])

True

In [13]:
if all([0<=s<=100 for s in scores]):  
    if sum(scores)/len(scores) >= 80:
        print('합격')
    else:
        print('불합격')

else:
    print('잘못된 점수')

잘못된 점수

### U17. 교통카드

In [15]:
balance = int(input())

while balance >= 1350 :
    balance -= 1350
    print(balance)

12150
10800
9450
8100
6750
5400
4050
2700
1350
0

In [16]:
class Tmoney():
    def __init__(self):
        print('Tmoney 카드를 개설하였습니다. 최초 잔액은 0원입니다.')
        self.balance = 0
    
    def charge(self, amount):
        self.balance += amount
    
    def pay(self, amount):
        if self.balance >= amount:
            self.balance -= amount
            print(f'잔액은 {self.balance:,}원 입니다.')
        else:
            print('잔액이 부족합니다.')

In [17]:
tmon = Tmoney()
tmon.charge(10000)
while True:
    tmon.pay(1350)
    if tmon.balance < 1350:
        break

Tmoney 카드를 개설하였습니다. 최초 잔액은 0원입니다.
잔액은 8,650원 입니다.
잔액은 7,300원 입니다.
잔액은 5,950원 입니다.
잔액은 4,600원 입니다.
잔액은 3,250원 입니다.
잔액은 1,900원 입니다.
잔액은 550원 입니다.

In [20]:
class Tmoney2():
    def __init__(self, amount=0):
        print(f'Tmoney 카드를 개설하였습니다. 최초 잔액은 {amount:,}원입니다.')
        self.__balance = amount
    
    def charge(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance
    
    def pay(self, amount):
        if self.__balance >= amount:
            self.__balance -= amount
            print(f'잔액은 {self.__balance:,}원 입니다.')
        else:
            print('잔액이 부족합니다.')

In [21]:
tmon = Tmoney2(10000)
tmon.charge(10000)
while True:
    tmon.pay(1350)
    if tmon.get_balance() < 1350:
        break

Tmoney 카드를 개설하였습니다. 최초 잔액은 10,000원입니다.
잔액은 18,650원 입니다.
잔액은 17,300원 입니다.
잔액은 15,950원 입니다.
잔액은 14,600원 입니다.
잔액은 13,250원 입니다.
잔액은 11,900원 입니다.
잔액은 10,550원 입니다.
잔액은 9,200원 입니다.
잔액은 7,850원 입니다.
잔액은 6,500원 입니다.
잔액은 5,150원 입니다.
잔액은 3,800원 입니다.
잔액은 2,450원 입니다.
잔액은 1,100원 입니다.